@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #1e202c;
  background-image: 
    radial-gradient(circle at 20% 30%, rgba(96, 81, 155, 0.6), transparent 50%),
    radial-gradient(circle at 80% 70%, rgba(96, 81, 155, 0.5), transparent 50%),
    radial-gradient(circle at 50% 90%, rgba(255, 255, 255, 0.08), transparent 70%),
    url('https://www.transparenttextures.com/patterns/gun-metal.png');
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow-x: hidden;
}

header {
  background: transparent;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 18px;
}

.nav a.active::after {
  width: 100%;
}

.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}

.container.perfil-container {
  width: 90%;
  max-width: 600px;
  margin: 60px auto;
  background-color: rgba(30, 32, 44, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 40px;
  text-align: center;
}

.container h2 {
  font-size: 24px;
  color: rgb(230, 157, 0);
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.07);
  color: white;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

form input:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-editar-perfil {
  background-color: white;
  color: black;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-editar-perfil:hover {
  background-color: #b9b9b9;
}
